@{
    ViewData["Title"] = @"Bienvenid@ al sitio de evaluación";
    var bienvenida = @"Bienvenid@ al sitio de evaluación";
}

@section Header{ 
    <partial name ="_HeaderLayout">
}

<div class="text-center">
    <h1 class="display-4">@bienvenida</h1>
</div>
